
<section id='clock'>
Clock Goes Here
</section>
<script src='js/clock.js'></script>

body {
    background: white;
    font-family: sans-serif;
  }
  section {
    background: blue;
    padding: 1em;
    max-width: 400px;
    margin: 100px auto 0;
    box-shadow: 0 0 1em #222;
    border-radius: 5px;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 4em;
  }