*{
    box-sizing: border-box;
    /* border: solid; */
  }
  
  body{
    margin: 0;
    padding: 0;
  }
  
  ul{
    list-style: none;
  }
  
  li{
    text-transform: capitalize;
    font-family: 'Fredoka One', cursive;
    margin: auto 0;
  }
  
  a{
    color: grey;
    text-decoration: none;
  }
  
  header{
    background-color: white;
    position: fixed;
    width: 100%;
  }
  
  footer{
    height: 80px;
    text-align: center;
    color: white;
    background-color: gray;
    padding: 30px;
  }
  
  
  
  /*
    pseudo classes
  */
  
  a:hover{
    color: black;
  }
  
  /* this is applied to all li except the first one */
  li:not(:first-child){
    margin-left: 2%;
    margin-right: 0;
  }
  
  /* you can put the #class-id:target and apply a different style for the id element */
  :target{
    box-shadow: 0px 0px 10px 15px rgba(0,0,0, .4);
  }
  
  .first-letter:first-letter{
    float: left;
    font-size: 2em;
    background: black;
    color: white;
    margin: auto 5px;
    border-radius: 5px;
    padding: 5px;
    line-height: 1;
  }
  
  .social-media-contact{
    text-align: center;
  }
  
  .social-media-contact a::after{
    margin: 10px;
    display: inline-block;  /* you need to put this, that way you can modify the shape of the element */
    width: 5%;
    height: 5%;
    border-radius: 50%;
  }
  .instagram::after{
    content: url(../images/instagram.svg);
  }
  .facebook::after{
    content: url(../images/facebook.svg);
  }
  .twitter::after{
    content: url(../images/twitter.svg);
  }
  .linkedin::after{
    content: url(../images/linkedin.svg);
  }
  
  .social-media-contact-to-right{
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 20%;
    right: 1em;
  }
  
  .social-icons{
    margin: 10%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  
  
  /*
            custom classes
   */
  
  .container{
     width: 80%;
     margin: auto;
   }
  
  .nav{
    margin: 0 auto;
  }
  
  .nav, .nav-items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 20px;
  }
  
  .nav-items{
    padding: 0;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  .nav-right{
    flex-grow: 0;
    justify-content: center;
  }
  
  .profile-image{
    width: 40px;
    height: 40px;
    border: solid 2px gray;
    border-radius: 50%
  }
  
  .profile-image:hover{
    transform: scale(1.3);
    border: solid 2px black;
  }
  
  .cover-page{
    padding-top:  200px;
    padding-bottom: 15%;
    text-align: center;
    color: white;
    background: linear-gradient(0deg,#fff,transparent),
                url('https://placeimg.com/640/480/tech') no-repeat center;
    background-size:  cover;
  }
  
  .cover-image{
    margin-bottom: 5%;
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 10px 15px rgba(0,0,0, .4);
    border-radius: 50%
  }
  
  .cover-image:hover{
    box-shadow: 0px 0px 10px 15px rgba(0,0,0, .8);
  }
  
  .main-title{
    margin: auto;
    width: 80%;
    text-transform: uppercase;
    color: black;
    font-family: 'Fredoka One', cursive;
    margin-bottom: 0;
  }
  
  .row-linear-left, .row-linear-right{
    display: flex;
    flex-direction: row;
    margin: 8%  4% auto;
  }
  
  .center{
    display: flex;
    margin: 0;
    flex-direction:  column;
    justify-content: center;
  }
  .row-linear-right{
    flex-direction: row-reverse;
  }
  
  .row-linear-left h1, .row-linear-right h1{
    margin-bottom: 5px;
    margin-left: 2%;
  }
  
  .row-linear-left p , .row-linear-right p{
    line-height: 1.4;
    padding: 10px;
    text-align: justify;
    box-shadow: 0px 0px 10px 15px rgba(0,0,0, .8);
  
  }
  
  .row-linear-left img, .row-linear-right img{
    margin: auto;
    width: 30%;
    height: 30%;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0, .8);
  }
  
  .table{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0;
    padding: 0;
    /* height: 450px; align all the items on the cross axis
    align-items: stretch; */
    justify-content: space-around;
  }
  
  .table p{
    line-height: 1.4;
    text-align: justify;
  }
  
  .col{
    padding: 10px;
    /* this sets same size of items for the first element and a 200px
    min-width to display another column.. this is talking as a flex item */
    flex: 1 200px;
    /* this makes all the height margins similars.. */
    margin-top: 0;
    margin-bottom: auto;
  }
  
  .col img{
    margin: auto;
    width: 80%;
    height: 80%;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0, .8);
  }
  
  /* this is a combinator for all the images tags after a div */
  div ~ img{
    position: fixed;
    background-color: white;
    bottom: 13%;
    right: 0.7em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 1000;
  }
  
  div~img:hover{
    box-shadow: 0px 0px 10px 1px rgba(0,0,0, .8);
  }
  
  
  
  /*  medium screens  or large like  tablets  or regular pcs*/
  @media (min-width : 702px) and (max-width:1600px){
  
    .container{
      width: 80%;
    }
    .nav{
      flex-direction: row;
      padding-bottom: 1.5%;
    }
    .nav-items{
      flex-direction: row;
    }
    .nav-right{
      justify-content: flex-end;
      width: 40%;
    }
    .nav-left{
      flex-wrap: nowrap;
      justify-content: flex-start;
      width: 60%;
    }
    .cover-page{
      padding-top:  150px;
      padding-bottom: 5%;
    }
    .cover-image{
      margin-bottom: 2%;
      width: 300px;
      height: 300px;
    }
    .table{
      flex-direction: row;
    }
    .social-media-contact-to-right{
      bottom: 20%;
      right: 2.5em;
    }
  
    div ~ img{
      bottom: 4%;
      width: 80px;
      height: 80px;
    }
  
  
  }