
* {
    box-sizing: border-box;
}

.jumbotron {
    background: black;
    width: 100%;
    
}

h1 {
    color: white;
    font-weight: bold;
    text-align: center;
}

.lead {
    color: white;
    font-weight: bold;
    text-align: center;
}

h2 {
    text-align: center;
}

.list-group {

    padding: 35px;
    border-color: black;


/* Create two equal columns that floats next to each other */
.column {
    float: left;
     width: 50%;
   border: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

