* {
    box-sizing: border-box;
  }
  
  .navbar-nav {
     margin-top: 0; 
  }
  a.navbar-brand {
      color: tomato;
      font-weight: bold;
      font-style: italic;
      margin-top: -5em;
  }

  .nav-item {
      color: tomato;
      font-size: 1rem;
      margin-top: -5em;

  }
       
  .navbar-brand order-1  {
      margin-right: 40px;
    }


  .container,
  h1  {
      color:grey;
      text-align: center;
      font-weight: bold;
      padding-top: 5%; 
      padding-bottom: 1%;
      margin-bottom: 20px;
      margin: auto;
  
    }
  
    #img-pictures  {
          border: solid lightgrey; 
          margin: auto;
          padding: 10px 10px;
  
    }
 
.flipCard {
-webkit-perspective: 800;
-ms-perspective: 800;
-moz-perspective: 800;
-o-perspective: 800;
    width: 400px;
    height: 200px;
    position: relative;
    margin: 50px auto;
}
.flipCard .card.flipped {
transform:rotatey(-180deg);
-ms-transform:rotatey(-180deg); /* IE 9 */
-moz-transform:rotatey(-180deg); /* Firefox */
-webkit-transform:rotatey(-180deg); /* Safari and Chrome */
-o-transform:rotatey(-180deg); /* Opera */
}
.flipCard .card {
width: 100%;
height: 100%;
-webkit-transform-style: preserve-3d;
-webkit-transition: 0.5s;
-moz-transform-style: preserve-3d;
-moz-transition: 0.5s;
-ms-transform-style: preserve-3d;
-ms-transition: 0.5s;
-o-transform-style: preserve-3d;
-o-transition: 0.5s;
transform-style: preserve-3d;
transition: 0.5s;
}
.flipCard .card .side {
width: 100%;
height: 100%;
padding: 10px;
cursor: pointer;
position: absolute;
box-sizing: border-box;
z-index: 2;
backface-visibility: hidden;  /* W3C */
-webkit-backface-visibility: hidden; /* Safari & Chrome */
-moz-backface-visibility: hidden; /* Firefox */
-ms-backface-visibility: hidden; /* Internet Explorer */
-o-backface-visibility: hidden; /* Opera */
box-shadow: 0 0 10px rgba(0,0,0,0.6);
overflow: auto;
}
.flipCard .card .back {
background: white;
color: black;
transform:rotatey(-180deg);
-ms-transform:rotatey(-180deg); /* IE 9 */
-moz-transform:rotatey(-180deg); /* Firefox */
-webkit-transform:rotatey(-180deg); /* Safari and Chrome */
-o-transform:rotatey(-180deg); /* Opera */
}


h1,
#speakers {
    color:blue;
    margin-top: 0;
    font-weight: bold;
    font-style: italic;
}

p {
  background-color: #FFFFCC;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
} 

.flipCard  {
   flex-wrap: wrap;    
   margin: 10px; 
   border: 5px solid lightgrey;
   padding: 5px;
   width: 300px;
   height: 200px;
   background-color: blue;
 }
 
   .container-container-border {
   border: 5px solid lightgrey;
   margin: 15px 15px;
   background-color: lavender;
  } 
  
   .card-title-yoga { 
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-style: italic;
} 

  .card-title-tribal { 
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-style: italic;
   
  } 

   .card-title-contemporary { 
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-style: italic;
  } 

  .card-title-ballet { 
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-style: italic;
  } 

   .card-title-hiphop { 
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-style: italic;
  } 

  .card-title-aerial { 
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-style: italic;
  } 

  .card-title-pilates { 
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-style: italic;
   text-align: center;
  } 

  .card-title-barre { 
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-style: italic;


  }  */ */

  .some-page-wrapper {
    display: flex;
    margin: 15px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
/*  navbar heading tabs   */



//*   title for classes  */
h1,
.title {
    color:blue;
    margin-top: 5px;
    font-style: italic;
}


  a:hover .side front {
    background-color: rgb(231, 226, 198);
  }

   /* .card  {
     flex-wrap: wrap;    
    margin: 10px; 
    border: 5px solid lightgrey;
    width: 100;
    height: 200px;
    background-color: #FFF8DC;
  }
  
   .container-container-border {
    border: 5px solid lightgrey;
    margin: 15px 15px;
   }
   
    .card-title-yoga { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-style: italic;
 } 

   .card-title-tribal { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-style: italic;
    
   }  */

   /* .card-title-contemporary { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-style: italic;
   } 

   .card-title-ballet { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-style: italic;
   } 

   .card-title-hiphop { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-style: italic;
   } 

   .card-title-arial { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-style: italic;
   } 

   .card-title-pilates { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: italic;
    text-align: center;
   } 

   .card-title-barre { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-style: italic;

   }  */

   .some-page-wrapper {
    display: flex;
    margin: 15px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  } */

/* .container-fluid {
    flex-flow: row nowrap;
} */
div.container {
  margin-left: 50px;
  margin-top: 20px;
}
div .tr-1 {
  position:absolute;
  background-color:red; 
  bottom: 10px; 
  left: 65px;
  z-index:auto;
  width: 100px;
  height: 100px;
}
div .tr-2 { 
  position:absolute; 
  background-color:green;
  bottom: -20px; 
  left: 95px;
  z-index:1;
  width: 100px;
  height: 100px;
}
div .tr-3 { 
  position:absolute; 
  background-color:blue;
  bottom: -60px; 
  left: 125px;
  z-index:2;
  width: 100px;
  height: 100px;
}
div .tr-4 { 
  position:absolute; 
  background-color:purple;
  bottom: -100px; 
  left: 155px;
  z-index:3;
  width: 100px;
  height: 100px;
}
div .tr-5 { 
  position:absolute; 
  background-color:orange;
  bottom: -130px; 
  left: 195px;
  z-index:4;
  width: 100px;
  height: 100px;
}
div .tr-6 { 
  position:absolute; 
  background-color:teal;
  bottom: -160px; 
  left: 225px;
  z-index:5;
  width: 100px;
  height: 100px;
} 
div .tr-7 { 
  position:absolute; 
  background-color:white;
  bottom: -190px; 
  left: 255px;
  z-index:6;
  width: 100px;
  height: 100px;
} 
div .tl-1 {
  position:absolute;
  background-color:red; 
  bottom: 10px;
  right: 65px;
  z-index:auto;
  width: 100px;
  height: 100px;
}
div .tl-2 { 
  position:absolute; 
  background-color:green;
  bottom: -20px; 
  right: 95px;
  z-index:1;
  width: 100px;
  height: 100px;
}
div .tl-3 { 
  position:absolute; 
  background-color:blue;
  bottom: -60px;  
  right: 125px;
  z-index:2;
  width: 100px;
  height: 100px;
}
div .tl-4 { 
  position:absolute; 
  background-color:purple;
  bottom: -100px; 
  right: 155px;
  z-index:3;
  width: 100px;
  height: 100px;
}
div .tl-5 { 
  position:absolute; 
  background-color:orange;
  bottom: -130px; 
  right: 195px;
  z-index:4;
  width: 100px;
  height: 100px;
}
div .tl-6 { 
  position:absolute; 
  background-color:teal;
  bottom: -160px; 
  right: 225px;
  z-index:5;
  width: 100px;
  height: 100px;
} 
div .tl-7 { 
  position:absolute; 
  background-color:white;
  bottom: -190px; 
  right: 255px;
  z-index:6;
  width: 100px;
  height: 100px;
}


  body {
    margin: 0;
    font-family: Arial;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  
   .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  } 
  
   .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border: solid lightgrey; 
  }
    
#heading {
    text-align: center;
}

.list-group-item {
    text-align: center;
    color: black;
    font-weight: bold;
    border: solid lightgrey;
}

  /*  Flip card test  */


  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }


  